<!DOCTYPE html>
<html>

<head><!-- Custom Theme files -->
  <link href="stylesheets/bootstrap.css" type="text/css" rel="stylesheet" media="all">
  {{!--
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="all"> --}}
  <!-- font-awesome icons -->
  <link href="stylesheets/fontawesome-all.min.css" rel="stylesheet">
  <!-- //Custom Theme files -->
  <!-- online-fonts -->
  <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  <!-- //online-fonts -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
  .bg-dark {
    background-color: #343a40; /* Change this color to the desired dark background color */
  }

  .bg-dark .text-primary-d1,
  .bg-dark .text-success-m2,
  .bg-dark .text-danger-m3,
  .bg-dark .text-warning,
  .bg-dark .text-secondary-d1,
  .bg-dark .text-secondary-d2,
  .bg-dark .text-600,
  .bg-dark .text-180,
  .bg-dark .text-110,
  .bg-dark .text-170,
  .bg-dark .text-150,
  .bg-dark .text-dark-l1,
  .bg-dark .text-left {
    color: #fff; /* Change this color to white or any other color that suits your design */
  }
</style>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.lineicons.com/3.0/lineicons.css"> 
  <link rel="stylesheet" href="../public/stylesheets/index.css">
</head>

<body class="bg-dark">
  <nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  
  <a class="btn btn-outline-info my-2 my-sm-0" href="/admin">Sign In</a>
</nav>
  {{{body}}}
</body>

</html>